@import 'colours'; 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');
html, 
body {
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; 
  background-color: $background; 

}  

//page styles 

.page { 
  width: 90%; 
  margin: 0 auto;
} 

h1, h2, h3 {
  margin: 0;
}