@import 'colours'; 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');
html, 
body {
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; 
  background-color: $background;  
  scroll-behavior: smooth;  
  font-size: 16px;
  // background-color: #111;
  // overflow-x: hidden;
}  

//page styles  

.app { 
  position: relative;
}

.page { 
  width: 90%; 
  margin: 0 auto; 
  position: relative;
}  

.gradient-title {
  background: linear-gradient(94.23deg,#5374fa 12.41%,#fd9179 52.55%,#ff6969 89.95%);  
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  font-weight: lighter; 
} 

.lowercase { 
  text-transform: lowercase;
} 

.uppercase { 
  text-transform: uppercase;
}

h1, h2, h3 {
  margin: 0;
} 

//title default padding from 

.title-padding { 
  padding-top: 1.5em; 
  padding-bottom: 1.5em;
}